* { margin: 0; padding: 0; box-sizing: border-box; }
body{
    display: flex;
  flex-direction: column;  
  align-items: center;    
  justify-content: center; 
  height: 100vh;
  margin: 0;
 background: radial-gradient(circle, rgba(147, 51, 234, 0.6) 0%, rgba(214, 10, 10, 1) 70%);
  padding: 0;
  text-shadow: 0 0 39px #ff00ff;
  color: rgb(12, 8, 8);
  gap: 24px;
  animation: entradaAbajo 0.8s ease forwards ; 
  box-shadow: 0 0 red;
  color:white;
}
h1{
  font-size: 40px;
}
a{
  font-size: 22px;
}


button{
  cursor: pointer;
  padding: 12px 28px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 60%;
  height: 120px;
  width: 120px;
  background: transparent;
  color: purple;
  transition: all 0,3s;
  border: 2px solid purple;
  box-shadow: 0 0 40px rgb(8, 214, 8);
  background: rgba(0,255,255,0.1);

}
a{
  color:white;
}
  

canvas{
   width: clamp(200px, 80vw, 400px) !important;
      border: 2px solid black; 
  background: transparent;
  border-radius: 10%;
  box-shadow: 0 0 20px #cb00e6;
  margin: 0 auto;
  display: block;


}
@keyframes entradaAbajo {
  from {
    /* así empieza el elemento */
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    /* así termina el elemento */
    opacity: 1;
    transform: translateY(0);
  }
}